.video-js-plugin-container {
    display: flex;
    flex-grow: 1;
    position: relative;
}
.video-js-plugin-container * {
    pointer-events: auto;
}
.video-js-plugin-container.disabled * {
    pointer-events: none;
}
.videojs-plugin-close-icon,
.player-schedule,
.videojs-plugin-muted-alert {
    pointer-events: auto;
}
.video-js-plugin-container.disabled .videojs-plugin-close-icon,
.video-js-plugin-container.disabled .player-schedule {
    pointer-events: none;
}
.video-js-plugin-header {
    position: absolute;
    z-index: 100;
    top: 0;
    height: 30px;
    width: 100%;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.45) 40%, rgba(0, 0, 0, 0));
    transition: opacity 200ms;
    user-select: none;
}
.video-js-plugin-title {
    padding: 10px;
    font-size: 14px;
    color: white;
}
.video-js-plugin-player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.video-js,
[data-vjs-player] {
    width: 100%;
    height: 100%;
}
.videojs-plugin-close-icon.disabled {
    display: none;
}
.videojs-plugin-close-icon {
    pointer-events: auto;
    z-index: 42;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videojs-plugin-muted-alert {
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 43;
}
.videojs-plugin-muted-alert::before {
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 43;
    content: "\f104";
    background: rgba(0, 0, 0, 0.3);
    font-family: VideoJS;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
